# Flutter-related build and config files
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/android/.gradle/
**/android/app/build/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/build/